.DS_Store
Thumbs.db

*.log
npm-debug.log*

coverage
dist
node_modules
.nyc_output
*.tsbuildinfo
.eslintcache
.history

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn-integrity

!/extension/dist/images
!/extension/dist/manifest.json
/extension/dist/background
/extension/dist/content-script
/extension/dist/options
/extension/dist/popup
