.DS_Store
Thumbs.db

*.log
npm-debug.log*

coverage
dist
node_modules
.nyc_output
*.tsbuildinfo
.eslintcache
.history

# Yarn
yarn-debug.log*
yarn-error.log*
.yarn-integrity

/extension/background
/extension/content-script
/extension/options
/extension/popup
